.card {
  background-color: #2d3748;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.group:hover .absolute {
  opacity: 0.85;
  background-color: rgba(0, 0, 0, 0.5);
}

.absolute a {
  transition: all 0.3s ease;
}

.group:hover a {
  transform: scale(1.1);
}

